/* Write your CSS here */

.Todo-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.head-1 {
  color: black;
  font-size: 20px;
  font-family: 'Roboto';
  font-weight: 400;
}
.btn-1 {
  color: #ff0b37;
  background-color: transparent;
  border: 2px #ff0b37 solid;
  border-radius: 10px;
  height: 20px;
  width: 60px;
  outline: none;
  cursor: pointer;
  margin-left: 16px;
}
@media screen and (min-width: 768px) {
  .btn-1 {
    height: 30px;
    width: 90px;
    margin-left: 30px;
  }
}
